<!-- HEADER -->
<h1><%=@cat.name%></h1>


<ul>
    <li>Description: <%=@cat.description%></li>
    <li>Birth Date: <%=@cat.birth_date%></li>
    <li>Sex: <%=@cat.sex%></li>
    <li>Color: <%=@cat.color%></li>
    <li>Age: <%=@cat.age%></li>
</ul>